<h1>User App</h1>
<h2>Users</h2>
<ul>
  <li *ngFor="let user of users" (click)="onSelect(user)">
    <p> {{user.firstName}} {{user.lastName}} <button (click)="deleteUser(user)">Delete</button>
    </p>
  </li>
</ul>

  <div *ngIf="thisUser">
    <h2>{{thisUser.email}} update info:</h2>
    <table>
      <tr><input [(ngModel)]="thisUser.firstName"></tr>
      <tr><input [(ngModel)]="thisUser.lastName"></tr>
      <tr><input [(ngModel)]="thisUser.email"></tr>
      <tr><input [(ngModel)]="thisUser.gsm"></tr>
<!--      <tr><input [(ngModel)]="thisUser.password"></tr>-->
    </table>
    <button (click)="changeUserInfo()">Change user info</button>
    <button (click)="registerNewContact()">Register new user</button>
  </div>
